/* Universsal Navigation */
#comp-nav{
    background-color: #eee; position: fixed; top: 40px; right: 30px; border-radius: 5px;
    padding: 10px 10px 0; width: 60px; height: 62px; overflow: hidden; transition: all 0.5s; box-shadow: 0 0 5px rgba(0,0,0, 0.7); opacity: 0.5; font-family: Consolas, "Courier New", Courier, monospace;
}
#comp-nav:hover{
    opacity: 1.0;
}
#comp-corner{
    margin: 0 0 5px auto; font-family: Verdana, Geneva, Tahoma, sans-serif; text-align: right;
}
#comp-corner > button{
    border: none; font-size: 1.4rem; padding: 0; margin: 0;
}
#comp-corner i{
    border-radius: 50%; display: inline-block; padding: 10px 12px; transform: translateX(-2px);
}
#comp-corner i:hover{
    background-color: black; color: white; animation-name: hipHop; animation-duration: 2s; cursor: pointer;
}
#cB-close{
    display: none;
}
#cB-close > i{
    color: red;
}
#cB-close > i:hover{
    background-color: red;
}


#comp-user-name{
    margin: 0; margin-bottom: 5px; font-size: 1.5rem;
}
#comp-user-role{
    margin: 8px auto 0;
}
.comp-navigation{
    list-style-type: none; padding: 0; margin: 0;
}
.comp-navigation li a:link, .comp-navigation li a:visited{
    text-decoration: none; display: block; padding: 8px 10px; border-radius: 5px; cursor: pointer;
}
.comp-navigation li a::before{
    content: '~ ';
}
.comp-navigation li a:hover{
    background-color: rgba(0,0,0, 0.5); color: white;
}

.comp-social-link{
    text-align: center; margin-top: 8px;
}
.comp-social-link > a:link, .comp-social-link > a:visited{
    color: rgba(0,0,0, 0.8); text-decoration: none; display: inline-block; font-size: 1.4rem; padding: 8px; transition: all 0.3s;
}
.comp-social-link > a:hover{
    color: blue; transform: scale(1.25);
}

/* Animation on corner button : profile/close */
@keyframes hipHop{
    0%{
        transform: scale(1) translateX(-2px);
    }
    25%{
        transform: scale(1.15) translateX(-2px);
    }
    75%{
        transform: scale(0.85) translateX(-2px);
    }
    100%{
        transform: scale(1) translateX(-2px);
    }
}
/* Media Screen */
@media screen and (max-width: 425px){
    #comp-nav{
        right: 20px;
    }
}